html{
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

a{
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: black;
  color: white;
  height: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: .66rem 0 .66rem 0.5rem;
}

.header img{
  height: 1.5rem;
  padding-right: 1rem;
}

/* BANNER */

.banner{
  background-image: url('/Users/conorblack/Documents/GitHub/SecretAgentSupply/resources/images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}


.new {
  background-color: black;
  width: 20rem;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
  position: absolute;
  top: 9rem;
}

.new h4{
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.new h1{
  font-size: 2rem;
}

@media only screen and (max-width: 470px){
  .banner{
    height: 15rem;
  }

  .new {
    width: 82%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .new h1 {
    font-size: 1rem;
  }

  .new h4 {
    font-size: 0.77rem;
  }
}


/* NAVIGATION */

.navi{
  display: inline-flex;
  justify-content: space-around;
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%
}

.navi li{
  color: white;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navi {
    display: none;
  }

  .mobile{
    display: block;
    text-align: center;
    background-color: firebrick;
    color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

/* ITEMS & OPERATION */

.items, .operation {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.item-pen, .item-watch, .item-glasses {
  width: 30%;
}

.item-image img{
  max-width: 8rem;
}

.description {
  display: block;
  padding: 0.5rem;
  background-color: black;
  text-align: center;
  color: white;
}

.info{
  width: 35%;
}

.info .title{
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 47%;
  }

  .item-glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .item,
  .operation {
    flex-wrap: wrap;
  }

  .item-pen {
    width: 90%;
    margin: auto;
  }

  .item-watch {
    display: none;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 5em 0;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
